VITE_SITE_URL=https://playguzzle.com
VITE_GUZZLE_TIMEZONE=America/Denver
VITE_VERCEL_ANALYTICS_ENABLED=true

GUZZLE_TIMEZONE=America/Denver
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
